{% extends 'base.html' %}
{% block content %}
    <h2>Photos</h2>
    <div class="grid-container">
        {% for blog in blogs %}
            <div class="post">
                <a href="{% url 'view-blog' blog.id %}">
                    <h4>Billet : {{ blog.title }}</h4>
                    <p>
                        <img src="{{ blog.photo.image.url }}">
                    </p>
                    <p>By : {{ blog.author }}</p>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock content %}